<div class="container text-center">
    <h1>Listado de las tablas de la BD **nombre**</h1>
    <div class="container text-center col-md-4 col-offset-4">
        <button type="submit" class="btn btn-primary">Regresar</button>
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action">tb1</a>
            <a href="#" class="list-group-item list-group-item-action">tb2</a>
            <a href="#" class="list-group-item list-group-item-action">tb3</a>
        </div>
    </div>
</div>