<div>
  <div class="container text-center">
    <h1>Tabla **nombre**</h1>
    <button type="submit" class="btn btn-primary">Regresar</button>
  </div>
  <table class="table-striped container table col-md-8 col-offset-8">
    <thead class="thead-light">
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Tipo de variable</th>
        <th scope="col">Longitud</th>
        <th scope="col">Descripción</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>id</td>
        <td>BIGINT</td>
        <td>255</td>
        <td>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident, voluptates enim accusamus itaque
          distinctio ad, voluptas impedit expedita libero dolores doloremque perferendis soluta sint natus quos, sunt
          sed! Optio, voluptatum.</td>
      </tr>
    </tbody>
  </table>
</div>