<div>
  <div class="container text-center">
    <h1>Tabla: {{ tableName }}</h1> <br>
    <h3>{{table}}</h3><br>
    <button type="button" class="btn btn-primary" (click)="funReturn()">Regresar</button>
  </div>
  <br>
  <table class="table-striped container table col-md-8 col-offset-8">
    <thead class="thead-light">
      <tr>
        <th scope="col">Llave</th>
        <th scope="col">Nombre</th>
        <th scope="col">Tipo de variable</th>
        <th scope="col">Longitud</th>
        <th scope="col">Descripción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let items of description">
        <td>{{items.llave}}</td>
        <td>{{items.nombre}}</td>
        <td>{{items.tipo}}</td>
        <td>{{items.longitud}}</td>
        <td>{{items.descripcion}}</td>
      </tr>
    </tbody>
  </table>
</div>